
<form method="post" action="{{ path('admin_section_delete', {'id': s.id}) }}" onsubmit="return confirm('Est ce que t'es sùr de supprimer cette classe ?')">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ s.id) }}">
   <button class="label label-danger btn-xs">Supprimer</button>
</form>

