
<form method="post" action="{{ path('teacher_exam_delete',{'teacher':teacher.id ,'id': e.id})}}" onsubmit="return confirm('Est ce que t'es sùr de supprimer cet examen ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ e.id) }}">
    <button class="btn btn-danger fa fa-trash"></button>
</form>

