
<form method="post" action="{{ path('admin_seance_delete', {'id': seance.id}) }}" onsubmit="return confirm('Est ce que t'es sùr de supprimer cette séance ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ seance.id) }}">
    <button class="btn">Supprimer</button>
</form>

