{% extends 'admin-base.html.twig' %}

{% block body %}
<!--== BODY INNER CONTAINER ==-->
            <div class="sb2-2">
            <!--== breadcrumbs ==-->
                <div class="sb2-2-2">
                    <ul>
                        <li><a href="{{path('admin_dashbord')}}"><i class="fa fa-home" aria-hidden="true"></i> Acceuil</a>
                        </li>
                        <li class="active-bre"><a href="{{ path('admin_section_index')}}"> Liste des Classes</a></li>
                        <li class="active-bre"><a href="{{ path('admin_section_show' , {'id':seance.section.id})}}">Détails classe</a> </li>
                        <li class="active-bre"><a href="#"> Ajouter une séance</a>
                        </li>
                    </ul>
                </div>
                <div class="sb2-2-3">
                    <div class="row">
                        <div class="col-md-12">
						<div class="box-inn-sp admin-form">
                                <div class="inn-title">
                                    <h4>Ajouter une séance</h4>
                                    
                                </div>
                                <div class="tab-inn">
                                   {{ include('Admin/Seance/_form_2.html.twig' , {'button_label': 'Ajouter'}) }}
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        
{% endblock %}

{% block javascripts %}
<script>
        var $course = $("#seance_course")
        var $token = $("#seance__token")
        $course.change(function ()
        {
            var $form = $(this).closest('form')
            var data = {}
            data[$token.attr('name')] = $token.val();
            data[$course.attr('name')] = $course.val()

            $.post($form.attr('action'), data).then(function (response)
            {
                $("#seance_teacher").replaceWith(
                    $(response).find("#seance_teacher")
                )
            })
        

        })
        {#var $course = $('#seance_course');   
        $course.change(function() {
                var $form = $(this).closest('form');
                var data = {};
                data[$course.attr('name')] = $course.val();
               alert(JSON.stringify(data));
                $.ajax({
                     url : $form.attr('action'),
                     type: $form.attr('method'),
                     data : data,
                     success: function(html) {
                         $('#seance_teacher').replaceWith(  $(html).find('#seance_teacher') );
                     }
                });
        });#}
</script>
{% endblock %}